services:
  domain-exporter:
    # image: ghcr.io/kevin197011/domain-exporter:latest
    build: .  # 使用本地构建
    ports:
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai
