apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: domain-exporter
  namespace: monitoring
  labels:
    app: domain-exporter
    release: prometheus
spec:
  selector:
    matchLabels:
      app: domain-exporter
  endpoints:
  - port: http-metrics
    interval: 60s
    path: /metrics
    scrapeTimeout: 30s
  namespaceSelector:
    matchNames:
    - monitoring